/* welcome.component.css */

html, body {
    height: 100%;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Align items to the start of the container */
    height: 100%;
    text-align: center;
    padding-top: 330px; /* Adjust this value to move the content down */
}

.content {
    text-align: center;
}

h1 {
    font-size: 2em;
    color: #333;
}

.btn {
    padding: 15px 30px;
    font-size: 1.5em;
    border: none;
    cursor: pointer;
    margin: 10px;
}

.large-btn {
    font-size: 1.5em;
    padding: 15px 30px;
}

.play-game-btn {
    background-color: #4CAF50; /* Green */
    color: white;
}

.simulation-btn {
    background-color: #008CBA; /* Blue */
    color: white;
}

.btn:hover {
    opacity: 0.8;
}
